
@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css mein add karo */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html, body {
  overscroll-behavior-x: none;
  overflow-x: hidden;
}

/* Scrollbar hide */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Page left right swipe band */
html, body {
  overscroll-behavior-x: none;
  overflow-x: hidden;
}